<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- Settings for hardcoding the account so the user cannot choose an account at runtime.
         NOTE: This is not a security mechanism. This allows for a simpler user interface is so desired. -->
    <add key="UseHardcodedAccount" value="true"/>
    <add key="HardcodedAccountName" value=""/>
    <add key="HardcodedKey" value=""/>
    <add key="HardcodedUseHttps" value="true"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
